@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    background-color: v.$secundario;
    color: v.$blanco;    

    .grid-footer {
        padding: 5rem 0;        
        @include m.tablet {         
            @include m.grid(4, 4rem);            
        }
    }
    .logo {
        max-width: 20rem;
        margin: 0 auto 5rem auto;   
        @include m.tablet { 
            margin-bottom:0;
        }   
    }
    .contenido-footer {
        margin-bottom: 2rem;       
       //display: flex;
        //flex-direction: column;
       // align-items: flex-start;  
        @include m.tablet { 
            margin-bottom: 0;
        } 
        h3 {
            color: v.$primario;
            text-align: left;
           @include m.tablet { 
                margin-bottom: 5rem;
           }
        }     
    }
    nav {

        a {
            display: block; //para que cada palabar tome su propio espacio en una sola linea
            color: v.$blanco;
            margin-bottom: 1rem;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .copyright {
        text-transform: uppercase;
        color: v.$blanco;
        text-align: center;
        border-top: 2px solid v.$primario;
        font-size: 1.2rem;
        padding: 1rem;
        margin: 0 auto;
        max-width: 120rem;
    } 
}